@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.landingWrapper{
  background-color: #121212;
  height: 100vh;
  h1{
    margin-top: 0;
    font-family: 'Concert One', cursive;
    color: white;
  }
}
