@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Oswald:wght@400;700&display=swap");

body{
  background-color: #fff;
}
h1 {
  margin: 0;
}

#display-box {
  display: grid;
  grid-template-areas:
    "top-bar"
    "previewer"
    "gutter";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 95vh;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  place-content: center;
  margin-right: 0;
}
#display-box > * {
  border: 1px solid black;
}

#top-bar {
  grid-area: top-bar;
  border-bottom: 0;
  padding: 10px;
}

#markdown {
  height: 100%;
}
textarea {
  font: 20px "Inconsolata", monospace;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  resize: inherit;
  padding: 0;
}

img {
  width: 50%;
}

#preview {
  height: 100%;
  padding: 20px;
  border-left: 0px;
  color: black;

}

.gutter {
  padding: 5px;
}

h1, h2, h3, h4, p, a {
  color: black;
}